*{
   padding: 0;
   margin: 0;
   font-family: sans-serif;
   }
   
   ::-webkit-scrollbar {
      width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: rgb(148, 167, 124);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(255, 0, 0);
    }
   
   
   
   body{
   background:linear-gradient(rgb(0, 0, 0),rgb(0, 0, 0));
   height: 500vh;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-attachment:scroll;
   }
   
   
   
   
   
   .container{
   width: 99%;
   height: 100%;
   background: rgba(0, 0, 0, 0.63);
   border-radius: 80px;
   overflow: hidden;
   scroll-padding: 10%;
   }
   
   nav{
      display:inline-flex;
      height: 70px;
      width: 100%;
      background: #000000;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px 0 100px;
      flex-wrap: wrap;
    }
    nav .logo{
      color: rgb(255, 0, 0);
      font-size: 35px;
      font-weight: 600;
   text-decoration: none;
   }
   
    nav ul{
      display: flex;
      flex-wrap: wrap;
      list-style: none;
    }
    nav ul li{
      margin: 0 5px;
    }
    nav ul li a{
      color: #f2f2f2;
      text-decoration: none;
      font-size: 18px;
      font-weight: 500;
      padding: 8px 15px;
      border-radius: 5px;
      letter-spacing: 1px;
      transition: all 0.3s ease;
    }
    nav ul li a.active,
    nav ul li a:hover{
      color: rgb(255, 2, 2);
      background: rgb(255, 255, 255);
      transition: 0.5s;
    }
    nav .menu-btn i{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      display: none;
    }
    input[type="checkbox"]{
      display: none;
    }
    @media (max-width: 1000px){
      nav{
        padding: 0 40px 0 50px;
      }
    }
    @media (max-width: 920px) {
      nav .menu-btn i{
        display: block;
      }
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
      }
      nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background: rgb(255, 0, 0);
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
      }
      #click:checked ~ ul{
        left: 0;
      }
      nav ul li{
        width: 100%;
        margin: 40px 0;
      }
      nav ul li a{
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      #click:checked ~ ul li a{
        margin-left: 0px;
      }
      nav ul li a.active,
      nav ul li a:hover{
        background: none;
        color: cyan;
      }
    }
    .content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      z-index: -1;
      width: 100%;
      padding: 0 30px;
      color: #1b1b1b;
    }
    .content div{
      font-size: 40px;
      font-weight: 700;
    }
   
   
   .content{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   width: 90%;
   margin: auto;
   
   
   }
   
   .content .text{
   color:rgb(255, 255, 255);
   width: 45%;
   
   }
   
   .content .text h2{
   font-size: 30px;
   text-transform: uppercase;
   font-weight: 8500;
   letter-spacing: 1px;
   
   
   }
   .content .text p{
   color: rgb(10, 255, 23);
      font-size: 30px;
   line-height: 27px;
   margin: 5px 0;
   letter-spacing: 3px;
   
   
   }
   .content .image{
      width: 52%;
   
   
       
   }
   
   .content .image img{
   width: 350px;
   
   }
   @media (min-width:950px) and (max-with:1150px){
     .content .image img{ 
   width: 100px;
   
     }
   }
   @media (max-width:950px){
      .content, nav{
         flex-direction: column;
         justify-content: center;
      }
      .content .image, .content .text{
   width: 90%;
   
      }
   
   }
   
   
   .container1{
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   color: rgba(255, 255, 255, 0.836) ;
   text-align: right ;
   direction: rtl;
   padding: 0;
   margin: auto;
   width: 100%;
   font-weight: 300;
   letter-spacing: 2px;
   
   }
   
   
   
   
   
   
   .b2{
   background-color: rgb(0, 0, 0);
   letter-spacing: 2px;
   height: 45px;
   text-decoration: none;
   }
   
   .aamy1{
   height: 50px;
   border-radius: 50px;
   align-content: s;
   justify-content: center;
   }
   
   .tsts1{
   
   
   
   }
   
   
   
   .home1{
   width: 7%;
   font-family: Georgia, 'Times New Roman', Times, serif;
   height: 25px;
   justify-content:left;
   font-size: 19px;
   border-radius: 22px;

   }
   
   .home2{
      position: fixed;
      bottom: 10px;
      right: -0px;
      background-color: #000000;
      color: white;
      font-weight: bold;
      font-size: 12px;
      padding: 4px;
      border-radius: 4px;
      font-family: Arial, Tahoma;
      cursor: pointer;
      transition: 2s;
      transform: translate(-10% , -100%);

   }

   .home2:hover{

   }


   .ul1{
justify-content: center;
color: rgb(236, 217, 217);
font-size: 40px;
background-color: rgba(67, 97, 97, 0.548);
height: 55vh;
border-radius: 25px;

}

.li1{
color: rgb(0, 225, 255);
text-decoration: none;
font-size: 30px;
justify-content: center;
transform: translate(-1%);

}
.img1{
height: 10vmax;
border-radius: 20px;
justify-content: right;
bottom: 10px;
right: -30px;
font-weight: bold;
font-size: 12px;
padding: 5px;
border-radius: 10px;
font-family: Arial, Tahoma;
transition: 0.2s;




}







*{
text-decoration:wavy;



}

body {
   height: 3000px;
 }
 .up {
   position: fixed;
   bottom: 10px;
   right: -30px;
   background-color: #ff5722;
   color: white;
   font-weight: bold;
   font-size: 12px;
   padding: 5px;
   border-radius: 4px;
   font-family: Arial, Tahoma;
   cursor: pointer;
   transition: 0.2s;



}
 .up.show {
   right: 10px;
 }


 .rot1{
font-size: 35px;



}
 .rot2{
font-size: 30px;
justify-items: center;
color: rgb(235, 252, 0);
transform: translate(-1%);


 }

 .rot3{
font-size: 35px;
font-weight: 100px;
text-decoration:underline;
color: rgb(0, 255, 85);
transform: translate(-1%);

 }

.rot4{
font-size: 30px;
font-weight:200;
transform: translate(-1%);
color: rgb(220, 255, 65);






}




.li2{
color: rgb(131, 255, 218);
text-decoration: underline ;
transform: translate(-1%);
}

.five{
color: rgb(255, 0, 0);
text-decoration: underline;
font-size: 25px;
}



